.wrapper {
  //   box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 115px;
  padding-right: 115px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
}

.navigation_block {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  max-width: 385px;
  width: 100%;
  list-style-type: none;
  justify-content: space-around;
}

.feedback_btn {
  margin: 15px 15px;
  padding: 14px 42px;
  background: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
  border-radius: 9px;
  border: 0;
  color: white;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
